SUPABASE_URL=
SUPABASE_SERVICE_KEY=
GROQ_API_KEY=
SEMANTIC_SCHOLAR_API_KEY=
TAVILY_API_KEYS=tavily_key1,tavily_key2,tavily_key3
EXA_API_KEYS=exa_key1,exa_key2,exa_key3
PARALLEL_API_KEYS=parallel_key1,parallel_key2,parallel_key3